/* .editor {
    width: 100%;
    padding: 5px;
    border: var(--jp-border-width) solid var(--jp-cell-editor-border-color);
    cursor: text;
    /* border-radius: 0px;
    
    background: var(--jp-cell-editor-background);
    cursor: text;
    padding: var(--jp-code-padding); */
@import url("~material-design-icons-iconfont/dist/material-design-icons.css");

/* @font-face {
    font-family: 'Material Icons Mod 1';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
        local('MaterialIcons_mod_1'),
        url(./MaterialIcons_mod_1.ttf) format('truetype');
} */

.ProseMirror {
    white-space: pre-wrap;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: flex-start;

}

.header {
    height: 100%;
    padding-right: 1px;
    padding-left: 72px;
}


.menuSeparator {
    color: var(--jp-layout-color4);
    opacity: 0.25;
}

.menuItem {
    padding: 1px;
    margin: 1px;
    color: var(--jp-layout-color4);
}

.activeMenuItem {
    padding: 1px;
    margin: 1px;
    color: var(--jp-layout-color4);
    background-color: rgba(115, 134, 148, 0.3);
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1.0;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  .inactive-menu-icon {
      padding: 1px;
      margin: 2px 1px 1px 1px;
  }


  .inactive-icon, .inactive-menu-icon {
    opacity: 0.5;
    
}


/* i.menuItem, i.activeMenuItem {
    max-height: 18px;
    margin-top: 2px;
} */
img.menuItem:hover
/* , i.activeMenuItem.material-icons:hover  */
{
    background: var(--jp-layout-color2);
    cursor: pointer;
}

img.activeMenuItem:hover {
    cursor: pointer;
}
img.activeMenuItem.editor-menuLabel {
    cursor: pointer;
}

.check-icon {
    position: relative;
    right: 3px;
}

span.CodeMirror-selectedtext {
    background-color: #a8d1ff;
}



  .inactive-icon:hover, .inactive-menu-icon:hover {
    cursor: not-allowed;
  }
/* This is here b/c for some reason prosemirror editor doesn't show <strong> correctly.  */
strong { 
    font-weight: 700;
}

code {
    background-color: #eee;
    padding: 0 3px;
}

.jp-ScribeMenuIcon {
    background-image: url("../static/scribe-menu-icon.svg");
}

.jp-ProseMirror {
    padding-left: var(--jp-code-padding);
    padding-right: 20px;
    border: none;
    background-color: rgb(255, 255, 255);
    cursor: text;
    line-height: var(--jp-content-line-height);
}

.jp-ProseMirror blockquote {
    border-left: 5px solid var(--jp-border-color2);
    padding: 0 1em;
}

.jp-Notebook.jp-mod-editMode .jp-Cell.jp-mod-active .p-Widget.jp-ProseMirror.jp-InputArea-editor {
    border: none;
    box-shadow: none;
}
.ProseMirror > *:last-child {
    margin-bottom: 0.5em;
}
.jp-ProseMirror p {
    margin-bottom: 1em;
}
.jp-ProseMirror a {
    cursor: text;
    text-decoration: underline;
}

.jp-ProseMirror a:hover {
    cursor: text;
}

/* Menu css */
/* .jp-scribe-menu-hr {
    border-color: #E0E0E0;
    background-color: #E0E0E0;
    margin: 0px;
} */

button.jp-mod-styled.jp-scribe-menu-apply {
    background-color: var(--jp-brand-color1);
    border: 1px solid var(--jp-brand-color1);
    border-radius: var(--jp-border-radius);
    color: white;
}

button.jp-mod-styled.jp-scribe-menu-cancel {
    background-color: var(--md-grey-500);
    border: 1px solid var(--md-grey-500);
    border-radius: var(--jp-border-radius);
    color: white;
}

.jp-scribe-menu-content {
    padding: 5px 12px 12px 12px;
}


.jp-scribe-heading-menu:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}

/* .jp-scribe-heading-menu-active::before {
    font-family: 'Material Icons';
    content: "check";
    -webkit-font-feature-settings: 'liga';

} */
/* Link menu css */
.linkButtons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

 .editor-menu {
    z-index: 10000;
    /* padding: 12px; */
    background: white;
    min-width: 175px;
    border: var(--jp-border-width) solid var(--jp-border-color1);
}

.editor-menu-lifted {
    z-index: 10001;
    background: white;
    min-width: 100px;
    border: var(--jp-border-width) solid var(--jp-border-color1);    
}

.jp-HoverBox {
    position: fixed;
    box-shadow: var(--jp-elevation-z6);
}

.editor-menuLabel {
  color: var(--jp-ui-font-color1);
  font-size: var(--jp-ui-font-size0);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;

}

/* Image menu css */
/* .linkToImage::after {
    font-family: "Material Icons";
    content: "arrow_right";
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    font-size: 21px;
    display: inline-block;
    line-height: 1.0;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    font-weight: normal;
    font-style: normal;
    /* Support for all WebKit browsers. */
    /* -webkit-font-smoothing: antialiased; */
    /* Support for Safari and Chrome. */
    /* text-rendering: optimizeLegibility; */
/* }  */

.linkToImage {
    margin-bottom: 5px;

}

.linkToImage:hover {
    cursor: pointer;
    background: #E0E0E0;

}

.backToMenu:hover {
    cursor: pointer;
}

/* Heading menu css */


.jp-scribe-menu-heading0 {
    font-size: var(--jp-content-font-size1);   
    line-height: var(--jp-content-line-height);
}
.jp-scribe-menu-heading1 {
    font-size: var(--jp-content-font-size5);
    line-height: var(--jp-content-line-height);
}

.jp-scribe-menu-heading2 {
    font-size: var(--jp-content-font-size4);
    line-height: var(--jp-content-line-height);
}

.jp-scribe-menu-heading3 {
    font-size: var(--jp-content-font-size3);
    line-height: var(--jp-content-line-height);
}

.jp-scribe-menu-heading4 {
    font-size: var(--jp-content-font-size2);
    line-height: var(--jp-content-line-height);
}

.jp-scribe-menu-heading5 {
    font-size: var(--jp-content-font-size1);
    line-height: var(--jp-content-line-height);
}
.jp-scribe-menu-heading6 {
    font-size: var(--jp-content-font-size0);
    line-height: var(--jp-content-line-height);
}

.ProseMirror {
    position: relative;
  }
  
  .ProseMirror {
    word-wrap: break-word;
    white-space: pre-wrap;
    -webkit-font-variant-ligatures: none;
    font-variant-ligatures: none;
  }
  
  .ProseMirror pre {
    white-space: pre-wrap;
  }
  
  .ProseMirror li {
    position: relative;
  }
  
  .ProseMirror-hideselection *::selection { background: transparent; }
  .ProseMirror-hideselection *::-moz-selection { background: transparent; }
  .ProseMirror-hideselection { caret-color: transparent; }
  
  .ProseMirror-selectednode {
    outline: 2px solid #8cf;
  }
  
  /* Make sure li selections wrap around markers */
  
  li.ProseMirror-selectednode {
    outline: none;
  }
  
  li.ProseMirror-selectednode:after {
    content: "";
    position: absolute;
    left: -32px;
    right: -2px; top: -2px; bottom: -2px;
    border: 2px solid #8cf;
    pointer-events: none;
  }
  
.ProseMirror .CodeMirror.cm-s-jupyter {
      margin: 1.5em 2.5em;
  }
/* 
  .selected-math {
      background: grey;
  } */