/* .editor {
    width: 100%;
    padding: 5px;
    border: var(--jp-border-width) solid var(--jp-cell-editor-border-color);
    cursor: text;
    /* border-radius: 0px;
    
    background: var(--jp-cell-editor-background);
    cursor: text;
    padding: var(--jp-code-padding); */


.menu {
    width: 100%;
    display: flex;
    justify-content: flex-start;

}

.header {
    height: 100%;
    padding-right: 1px;
    padding-left: 72px;
}

.menuItem {
    padding: 1px;
    margin: 1px;
}

.activeMenuItem {
    padding: 1px;
    margin: 1px;
    background-color: grey;
}

/* This is here b/c for some reason prosemirror editor doesn't show <strong> correctly.  */
strong { 
    font-weight: 700;
}

code {
    background-color: #eee;
    padding: 0 3px;
}

.jp-ScribeMenuIcon {
    background-image: url("../static/scribe-menu-icon.svg");
}

.jp-ProseMirror {
    padding: var(--jp-code-padding) var(--jp-code-padding);
    cursor: text;
}